In [ ]:
import pandas as pd
import numpy as np

In [27]:
data = pd.read_csv("habits.data", sep=";", na_values="?")
print(data)

     kohde  jasen  pvknro  sp  ASALUE  IKAL1   A1   A2   A3   A4   A5
0    50002      1       1   1     1.0     49    0  560    0   80  1.0
1    50002      1       2   1     1.0     49  380  450   10    0  1.0
2    50003      1       1   2     2.0     41    0  470   30  100  1.0
3    50003      1       2   2     2.0     41    0  550    0    0  1.0
4    50004      2       1   1     1.0     62  640  410    0    0  1.0
..     ...    ...     ...  ..     ...    ...  ...  ...  ...  ...  ...
740  51980      1       2   2     2.0     50  460  450   31    0  2.0
741  51981      2       1   1     1.0     35    0  470    0  140  NaN
742  51981      2       2   1     1.0     35    0  730  NaN    0  NaN
743  51983      1       1   2     3.0     66  560  375   20    0  1.0
744  51983      1       2   2     3.0     66    0  435   31    0  1.0

[745 rows x 11 columns]

In [32]:
#Set labels for the data types
data['kohde'] = data['kohde'].astype('category')
data['jasen'] = data['jasen'].astype('category')
data['pvknro'] = data['pvknro'].astype(bool)
data['sp'] = data['sp'].astype(bool)
data['ASALUE'] = data['ASALUE'].astype('category')
bins = pd.IntervalIndex.from_tuples([(10, 15), (15, 20), (20, 25), (25, 35), (35, 45), (45, 55), (55, 65), (65, 75), (75, 120)])
pd.cut(data['IKAL1'], bins)
data['IKAL1'] = data['IKAL1'].astype('category')
data['A1'] = pd.to_numeric(data['A1'], errors='coerce')
data['A2'] = pd.to_numeric(data['A2'], errors='coerce')
data['A3'] = pd.to_numeric(data['A3'], errors='coerce')
data['A4'] = pd.to_numeric(data['A4'], errors='coerce')
data['A5'] = pd.to_numeric(data['A5'], errors='coerce')

print(data.dtypes)

kohde     category
jasen     category
pvknro        bool
sp            bool
ASALUE    category
IKAL1     category
A1         float64
A2         float64
A3         float64
A4         float64
A5         float64
dtype: object

In [ ]:
print(data.isnull().sum())
dataNoNan = data.dropna()

     kohde jasen  pvknro    sp ASALUE IKAL1     A1     A2    A3     A4   A5
0    50002     1    True  True    1.0    49    0.0  560.0   0.0   80.0  1.0
1    50002     1    True  True    1.0    49  380.0  450.0  10.0    0.0  1.0
2    50003     1    True  True    2.0    41    0.0  470.0  30.0  100.0  1.0
3    50003     1    True  True    2.0    41    0.0  550.0   0.0    0.0  1.0
4    50004     2    True  True    1.0    62  640.0  410.0   0.0    0.0  1.0
..     ...   ...     ...   ...    ...   ...    ...    ...   ...    ...  ...
740  51980     1    True  True    2.0    50  460.0  450.0  31.0    0.0  2.0
741  51981     2    True  True    1.0    35    0.0  470.0   0.0  140.0  NaN
742  51981     2    True  True    1.0    35    0.0  730.0   NaN    0.0  NaN
743  51983     1    True  True    3.0    66  560.0  375.0  20.0    0.0  1.0
744  51983     1    True  True    3.0    66    0.0  435.0  31.0    0.0  1.0

[745 rows x 11 columns]
kohde      0
jasen      0
pvknro     0
sp         0
ASALUE     0
IKAL1      0
A1        85
A2        88
A3        94
A4        91
A5        42
dtype: int64
     kohde jasen  pvknro    sp ASALUE IKAL1     A1     A2    A3     A4   A5
0    50002     1    True  True    1.0    49    0.0  560.0   0.0   80.0  1.0
1    50002     1    True  True    1.0    49  380.0  450.0  10.0    0.0  1.0
2    50003     1    True  True    2.0    41    0.0  470.0  30.0  100.0  1.0
3    50003     1    True  True    2.0    41    0.0  550.0   0.0    0.0  1.0
4    50004     2    True  True    1.0    62  640.0  410.0   0.0    0.0  1.0
..     ...   ...     ...   ...    ...   ...    ...    ...   ...    ...  ...
738  51973     1    True  True    2.0    41    0.0  620.0   0.0  108.0  1.0
739  51980     1    True  True    2.0    50    0.0  570.0   0.0    0.0  2.0
740  51980     1    True  True    2.0    50  460.0  450.0  31.0    0.0  2.0
743  51983     1    True  True    3.0    66  560.0  375.0  20.0    0.0  1.0
744  51983     1    True  True    3.0    66    0.0  435.0  31.0    0.0  1.0

[602 rows x 11 columns]